/* ==================================================*/
/*                   HEADER - MAIN                   */
/* ==================================================*/  
.header{
  position: absolute;
  width: 100%;
}
  .navbar {
    background: linear-gradient(to bottom, #000000 0%, #000000c7 25%, #1f1f1f00 100%);
    font-size: 1.25rem;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1030;
    padding-left: 7rem;
    padding-right: 7rem;
  }

    /* Home navbar */
    .navbarBrand {
      font-size: 1.5rem;
    }

    /*===========================*/
    /*     Dropdown style        */
    /*===========================*/

    /* Dropdown title */
    .dropDown > a > p {
      color: #ffffff;
      border: none;
      background: transparent;
    }

    /* Dropdown title hover */
    .dropDown > a > p:hover {
      text-decoration: none;
      color: #6726c2;
      transition: all 0.8s ease;
    } 
    
    /* Dropdown title arrow */
    .dropDown > a::after {
      content: none;
    }

    /* Dropdown menu */
    .dropDown > div {
      border: none;
      background: linear-gradient(to top, #000000 0%, #000000c7 25%, #1f1f1f00 100%);
    }

    /* Dropdown menu links hover */
    .dropDown > div > a:hover {
      background: transparent;
      border: none;
    }

    /* Dropdown divider border */
    .dropDown > div > a:first-child {
      padding-bottom: .5rem;
      margin-bottom: .5rem;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #6726c2, #1f1f1f00);
    }

    /* Navbar link separator */
     .itemSep {
      color: white;
      display: inline;
      margin-left: 20px;
      margin-right: 20px;
    }
    
/*==================================================*/
/*                 MEDIA QUERIES                    */
/*==================================================*/


  @media (max-width: 426px){
    .navbar{ 
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media (max-width: 769px) {
    .itemSep { 
      display: none;
    }
  }