/* impressum page*/
.impPage {
  height: auto;
  width: 100%;
  color: white;
}

p {
  font-family: "Corbel";
}

/* heading */
.impH h1{
  text-align: center;
  font-size: 3rem;
  padding: 5rem 0 2rem 0;
}

/*==================================================*/
/*                 MEDIA QUERIES                    */
/*==================================================*/

@media (min-width: 1024px){
  .impPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px){
  .impH h1 {
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px){
  .impH h1 {
    padding: 6rem 0 2rem 0;
  }

  .crTitle {
    text-align: center;
  }
}