/* introduction page */
.introPage {
  height: auto;
  width: 100%;
  color: white;
  text-align: center;
}

/* heading */
.introH h1{
  padding: 5rem 0 2rem 0;
  font-size: 3rem;
}

blockquote {
  color: white;
  padding-bottom: 3rem;
  border-left: none;
}



/*==================================================*/
/*                 MEDIA QUERIES                    */
/*==================================================*/

@media (min-width: 1440px){
  .introPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px){
  .introH h1 {
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px){
  .introH h1 {
    padding: 6rem 0 2rem 0;
  }

  blockquote{
      padding-bottom: 0 1rem 5rem 1rem ;
  }
}