@import "../styles/typography.css";

/*===================================================*/
/*                    BASE STYLE                     */
/*===================================================*/

*{
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Pacifica";
}

body::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background-color: #1B1B1B;
}

body::-webkit-scrollbar-thumb {
  background: #383737;
}

main {
  position: absolute;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: "Pacifica";
  color: #FFFFFF;
}

body h5, h6 {
  display: inline;
  color: #FFFFFF;
}

body p {
  display: inline;
  font-family: "Corbel";
}

body a {
  color: #FFFFFF;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
  color: #6726c2;
  transition: all 0.8s ease;
}

section {
  background-image: url(../content/assets/mainBg.png);
}