*{
  box-sizing: border-box;
  font-family: "Pacifica";
}

h1 {
  font-size: 4rem;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #6726c2;
}

p {
  display: inline;
}

main {
  position: absolute;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background-color: #1B1B1B;
}

body::-webkit-scrollbar-thumb {
  background: #383737;
}

/* HEADER */

.site-header{
  font-size:  1.2rem;
  letter-spacing: 0.05rem;
  overflow-x: hidden;
}

  .navbar {
    background: linear-gradient(to bottom, #000000 0%, #000000c7 25%, #1f1f1f00 100%);
    width: 100%;
  }

    .container {
      display: flex;
      flex-basis: auto;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
    }

      .navbar-toggle {
        display: none;
      }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    z-index: 1030;
  }

  /* right nav */
  .navbar-collapse.collapse{
    display: inline;
    flex-basis: auto;
    justify-content: flex-end;
  }


    .nav{
      flex-direction: row;  
    }

    .navbar-right {
      float: right;
      list-style: none;
    }

    ul li, ol li {
      margin-bottom: 0;
    }
    
      .menu-item {
        align-content: center;
      }

      .item-sep {
        color: white;
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
      }
   
  /* floating social links */
  .fl-fl{
    display: block;
    background-color: black;
    font: normal normal 10px Arial;
    font-family: "Pacifica";
    left: -87px;
    letter-spacing: 3px;
    line-height: 2rem;
    padding: 6px;
    position: fixed;
    transition: all .25s ease;
    text-align: right;
    text-transform: uppercase;
    width: 120px;
    z-index: 1000;
  }

  .fl-fl:hover {
    left: 0;
  }

    .float-fb{
      top: 215px;
    }

    .float-ig{
      top: 270px;
    }

      .float-social {
        color: white;
        width: 1.5rem;
        height: 1.5rem;
            
      }

      .float-social:hover {
        color: #6726c2;
      }

  .carousel-control-prev:hover {
    background: linear-gradient(to right, #000000 0%, #000000c7 25%, #1f1f1f00 100%);
  }

  .carousel-control-next:hover {
    background: linear-gradient(to left, #000000 0%, #000000c7 25%, #1f1f1f00 100%);
  }

.bg-img {
  width: 100vw;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
    .navbar-toggle {
      display: block;
      float: right;
      margin: 10px 15px 8px 0;
      position: relative;
      visibility: visible;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      width: 22px;
      height: 2px;
    }
}

article {
  position: absolute;
  z-index: 12;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
}


/* Main */



/* FOOTER */
footer {
  padding: 0;
}
#footer-block {
  background-color:#2A2A2A;
  color: #707070;
}
  .row {
    line-height: 2.9;
  }

  #me{
    color: #707070;
  }
  .social{
    color: white;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
  }

  .social:hover{
    color: #6726c2;
    width: 3rem;
    height: 3rem;
  }


  #logo {
    font-family: 'Corbel';
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: white;
    padding-right: 15px;
    transition: font-size .2s ease, font-family .2s ease;
    transition-delay: font-size 0.4s, font-family 0.4s;
  }

    #logo:hover {
      color: #6726c2;
      font-size: 2.6rem;
      font-family: "Pacifica";
    }

    #copyr-text {
      white-space:nowrap;
    }

    #copyr-text > a:hover {
      color: #6726c2;
    }

  @media (max-width: 768px) {


    .container-fluid {
      width: 100vw;
      padding: 0;
      text-align: center;
    }

    #logo {
      display: none;
    }
  }
