@font-face {
  font-family: "Pacifica";
  src: url("../fonts/pacifica-condensed-regular.ttf");
}

@font-face {
  font-family: "Corbel";
  src: url("../fonts/corbel.ttf")
}

@font-face {
  font-family: "Great Vibes";
  src: url("../fonts/GreatVibes-Regular.ttf")
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.ttf")
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Mulish-Regular.ttf")
}